
// Navigation block begin
.header__main-menu_wrap
    +nav('header__main-menu', [
        {
            name: "Главная",
            link: "./index.html"
        },
        {
            name: "Портфолио",
            link: "#"
        },
        {
            name: "О Виктории",
            link: "#"
        },
        {
            name: "Услуги",
            link: "#"
        },
        {
            name: "Пресса",
            link: "#"
        },
        {
            name: "Контакты",
            link: "#"
        }
    ])
    include ../templates/socials
// Navigation block end