extends ../layout

block content
	

	
block jsIncludes
	// jQuery (necessary for some JavaScript plugins)
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src="js/TweenMax.min.js")
	script(src="js/CSSPlugin.min.js")
	script(src="js/CSSRulePlugin.js")
	script(src="js/TweenLite.min.js")

	// General options 
	script(src="js/script.js")